* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
body {

  background-image: url("./background.jpg");
}
*/

.introduction {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 50px;
  left: 20px;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 200px;
}

.text {
  top: 500px;
  color: rgb(189, 189, 0);
}

.aquaman {
  position: absolute;
}

.startAndGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#btnStart {
  cursor: pointer;
  width: 20%;
  position: absolute;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 40em;
  border-style: none;
  padding: 1rem 1.3rem;

}

#btnPlayAgain{
  visibility: hidden;
  cursor: pointer;
  width: 20%;
  position: absolute;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 40em;
  border-style: none;
  padding: 1rem 1.3rem;
}

.highScore{
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  cursor: pointer;
  border: 3px solid black;
  
}
